{% extends "master.html" %}
{% block title %} - Debriefing Form{% endblock %}

{% block content %}

<div> 
 
  <h1><font size="3" face="Times New Roman"><b>Consent to Participate 
in Research</b></font></h1> 
<h1><font face="Times New Roman"><b>Identification of Investigators 
&amp; Purpose of Study  </b></font></h1> 
<p><font size="3" face="Times New Roman">You are being asked to participate 
in a research study conducted by<i> </i> 
Dr. Matthew Lee from James Madison University.  The purpose of 
this study is to understand how people's perceptions of facial features 
influence the ascription of meaning to people with a variety of outward 
appearances. </font></p> 
<h1><font size="3" face="Times New Roman"><b>Research Procedures</b></font></h1> 
<p><font size="3" face="Times New Roman">Should you decide to participate 
in this research study, you will be asked to sign this consent form 
once all your questions have been answered to your satisfaction.  
This study consists of a survey that will be administered to individual 
participants in Miller Hall.  </font></p> 
<h1><font size="3" face="Times New Roman"><b>Time Required</b></font></h1> 
<p><font size="3" face="Times New Roman">Participation in this study 
will require 30-45 minutes of your time.</font></p> 
<h1><font size="3" face="Times New Roman"><b>Risks </b></font></h1> 
<h4><font size="3" face="Times New Roman">The investigator does not 
perceive more than minimal risks from your involvement in this study.</font></h4> 
<h1><font size="3" face="Times New Roman"><b>Benefits</b></font></h1> 
<p><font size="3" face="Times New Roman">Potential benefits from participation 
in this study include obtaining more information on how perceptions 
of facial features influence the ascription of different meanings, attributes, 
or qualities of people with a variety of backgrounds. <i>   </i></font></p> 
<h1><font size="3" face="Times New Roman"><b>Confidentiality </b></font></h1> 
<p><font size="3" face="Times New Roman">The results of this research 
will be presented at regional and national conferences and will be submitted 
for publication into academic journals or books. The results of this 
project will be coded in such a way that the respondent's identity 
will not be attached to the final form of this study.  The researcher 
retains the right to use and publish non-identifiable data.  While 
individual responses are confidential, aggregate data will be presented 
representing averages or generalizations about the responses as a whole.  
All data will be stored in a secure location accessible only to the 
researcher.  Upon completion of the study, all information that 
matches up individual respondents with their answers<i> </i> 
will be archived in the lab for up to three years after the publication 
of the first research paper or book chapter associated with the project.</font></p> 
<h1><font size="3" face="Times New Roman"><b>Participation &amp; Withdrawal </b></font></h1> 
<p><font size="3" face="Times New Roman">Your participation is entirely 
voluntary.  You are free to choose not to participate.  Should 
you choose to participate, you can withdraw at any time without consequences 
of any kind.</font></p> 
<h1><font size="3" face="Times New Roman"><b>Questions about the Study</b></font></h1> 
<p><font size="3" face="Times New Roman">If you have questions or concerns 
during the time of your participation in this study, or after its completion 
or you would like to receive a copy of the final aggregate results of 
this study, please contact:</font> <br></p> 
<p><font size="3" face="Times New Roman">Dr. Matthew Lee</font></p> 
<p><font size="3" face="Times New Roman">Department of Psychology</font></p> 
<p><font size="3" face="Times New Roman">MSC 7704</font></p> 
<p><font size="3" face="Times New Roman">James Madison University</font></p> 
<p><font size="3" face="Times New Roman">Telephone: 540-568-4915</font></p> 
<p><font size="3" face="Times New Roman"><a href="mailto:leemr@jmu.edu" target="_blank">leemr@jmu.edu</a></font></p> 
<h1><font size="3" face="Times New Roman"><b>Questions about Your Rights 
as a Research Subject</b></font></h1> 
<p><font size="3" face="Times New Roman">Dr. David Cockley </font></p> 
<p><font size="3" face="Times New Roman">Chair, Institutional Review 
Board</font></p> 
<p><font size="3" face="Times New Roman">James Madison University</font></p> 
<p><font size="3" face="Times New Roman">(540) 568-2834</font></p> 
<p><a href="mailto:cocklede@jmu.edu" target="_blank"><font color="#0000FF" size="3" face="Times New Roman"><u>cocklede@jmu.edu</u></font></a></p> 
<h1><font size="3" face="Times New Roman"><b>Giving of Consent</b></font></h1> 
<p><font size="3" face="Times New Roman">I have read this consent form 
and I understand what is being requested of me as a participant in this 
study.  I freely consent to participate.  I have been given 
satisfactory answers to my questions.  The investigator provided 
me with a copy of this form.  I certify that I am at least 18 years 
of age.</font> <br></p> 
<p><font size="3" face="Times New Roman">______________________________<WBR>________    </font></p> 
<p><font size="3" face="Times New Roman">Name of Participant (Printed)</font> <br> 
</p> 
<p><font size="3" face="Times New Roman">______________________________<WBR>________    
______________</font></p> 
<p><font size="3" face="Times New Roman">Name of Participant (Signed)                      <WBR>              
Date</font></p> 
<p><font size="3" face="Times New Roman">______________________________<WBR>________    
______________</font></p> 
<p><font size="3" face="Times New Roman">Name of Researcher (Signed)                      <WBR>             
Date</font></p> 
 
 
<p><a href="{% url login %}?next={% url part1intro %}">NEXT &gt;&gt;</a></p>
 
</div>

{% endblock %}