{% extends "master.html" %}
{% block style %}
body {
    background-color: #EFFFEF;
}
{% endblock %}
{% block content %}

<p align="center"><b>Face Rating 
Study 1</b> <br></p> 
<p>In this online study you will 
be examining several arrays of faces. There are three parts to this 
study, and the overall study should last about 30-45 minutes. You are 
encouraged to tell your friends to participate in this study! <br> 
</p> 
<p>Proceeding in this study by 
clicking "NEXT" below constitutes your provision of an informed 
consent. This means that you understand that the responses you provide 
will become the property of the researchers conducting this study. These 
responses will be kept anonymous and will not be tied to personally 
identifying information about you. <br></p> 
<p>Participation in this study 
is completely voluntary. You may choose to end at any time. You will 
not receive any compensation for your participation. At the end of the 
study, we will provide you a debriefing that tells you more about what 
questions we are investigating. <br></p> 
<p>There are several qualifications 
you must meet to be able to participate in this study:</p> 
<ul> 
<ol type="1"> 
  <li>You must have a 
  valid university email address ending in ".edu"</li> 
  <li>You must <u>NOT</u> 
  have been a student at the University of Illinois at Urbana Champaign 
  enrolled in Psychology 100 at any time during the Fall 2006-Spring 2007 
  academic year.</li> 
  <li>You must have a 
  working internet connection and computer that allows the presentation 
  of pictures or photographs on your monitor display. Mozilla Firefox 
  is the preferred browser.</li> 
</ol> 
</ul> 
 <br> 
<p>If you have questions or comments 
about this study, you may contact the researcher, Dr. Matthew R Lee, 
at <a href="mailto:leemr@jmu.edu" target="_blank"><u>leemr@jmu.edu</u></a> at James Madison University. <br> 
</p> 
<p>Please confirm the following 
information:</p> 
<ul> 
<ol type="1"> 
  <li>You have a valid 
  university email ".edu" email address.</li> 
  <li>You can confirm 
  you were NOT a student at UIUC enrolled in Psychology 100 at any time 
  during Fall 2006 to Spring 2007.</li> 
  <li>You have read this 
  page explaining the study and you agree to its terms, thus providing 
  an informed consent. Typing in your email address and clicking the "NEXT" 
  button indicates that you agree and that you may proceed.</li> 
</ol> 
</ul> 
 <br>

<form method="POST" action=".">
<table width="638" border="2" cellspacing="0"> 
<tr valign="top"><td>Please type 
  your full email address here to continue: <input type="text" name="email" /></td></tr> 
</table>
<br>
<input type="submit" value="Next &gt;&gt;" />
</form>

{% endblock %}
